$small-screen: '480px';
$medium-screen: '720px';
$base-size: 16px;

$base: 12;
$col-sizes: 12,
9,
6,
3;

$colorBKGD: '#002366';
$colorLines: '#2B0A93';
$secondColorLines: '#4A6CF3';
$colorShadow: '#3E47ED';